SUPABASE_URL=https://sacxklpjteqsbevowrmt.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
PUBLIC_SUPABASE_URL=https://sacxklpjteqsbevowrmt.supabase.co
PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
NETLIFY_BUILD_HOOK_URL=https://api.netlify.com/build_hooks/xxxxxxxxxxxxxxxxxxxxxxxx
